input[type="text"]  {
    background-color: lemonchiffon;
}

select#petType,#search-breed,#select-size,#petStatus{
     background-color: lemonchiffon;
}

body {
    background-color:  lightblue;
}

navbar-brand {
    background-color: blue;
}

footer {
    background-color:  lightsteelblue;
}

h1 {
    background-color: lightsteelblue;
}

nav {
    background-color: lightsteelblue;
}

